.toggle-button {
	-fx-font-size: 30px;
	-fx-font-family: Segoe UI;
	-fx-text-fill: #ea7f4b;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-color: #ea7f4b;
    -fx-background-insets: 1px;
    -fx-background-color: transparent;
}

.toggle-button:visited {
	-fx-background-color: 
        #64290c;
}
.toggle-button:hover {
    -fx-background-color: 
        #64290c;
}
.toggle-button:active {
    -fx-background-color: 
        #64290c;
}
.toggle-button:selected {
	 -fx-background-color: 
        #64290c;
}